<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">

            {% if session.get('usuario') %}
        <div class="saudacao">
            Olá, <strong>{{ session['usuario'] }}</strong>!
        </div>
        {% endif %}

        <div class="page_header">
            <div>
                <h1>Editar Informações do Carro</h1>
                <a class="voltar"href="/carros">← Voltar</a>
            </div>
        </div>
        
        <div class="cadastro_card">
            <form method="POST">
                <div class="input_group">
                    <input name="modelo" value="{{ carro.modelo }}" placeholder="Modelo do carro" required>
    
                    {% if erro_modelo %}
                    <span class="erro_texto">{{ erro_modelo }}</span>
                    {% endif %}
                </div>
    
                <div class="input_group">
                    <input name="preco" value="{{ carro.preco }}" type="number" required>
    
                    {% if erro_preco %}
                    <span class="erro_texto">{{ erro_preco }}</span>
                    {% endif %}
                </div>
    
                <select name="ano">
                    <option value="">Selecione um Ano</option>

                    {% for ano in anos %}
                    <option value="{{ ano }}" {% if carro.ano|string == ano|string %}selected{% endif %}>
                        {{ ano }}
                    </option>
                    {% endfor %}
                </select>
    
                <select name="cor" title="Por favor, preencha a cor do carro" required>
                    <option value="">Cor do Carro</option>
                    {% for c in cores %}
                    <option value="{{ c.id }}" {% if carro.cor_id|string == c.id|string %}selected{% endif %}>{{ c.nome }}</option>
                    {% endfor %}
                </select>
    
                <select name="tipo_cambio" title="Por favor, preencha o tipo de câmbio do carro" required>
                    <option value="">Tipo de Câmbio</option>
                    {% for c in cambios %}
                    <option value="{{ c.id }}" {% if carro.tipo_cambio_id|string == c.id|string %}selected{% endif %}>{{ c.nome }}</option>
                    {% endfor %}
                </select>
    
                <select name="marca" title="Por favor, preencha a marca do carro" required>
                    <option value="">Marca</option>

                    {% for c in marcas %}
                    <option value="{{ c.id }}" {% if carro.marca_id|string == c.id|string %}selected{% endif %}>{{ c.nome }}</option>
                    {% endfor %}
                </select>
    
                <select name="tipo_combustivel" title="Por favor, preencha o tipo de combustível do carro" required>
                    <option value="">Combustíveis</option>
                    {% for c in combustiveis %}
                    <option value="{{ c.id }}" {% if carro.tipo_combustivel_id|string == c.id|string %}selected{% endif %}>{{ c.nome }}</option>
                    {% endfor %}
                </select>
    
                <button type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>
</body>

</html>