<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home_background">
    <div class="home_container">
        <div class="home_card">

            <h1>Login</h1>

            <form method="POST">
                <div class="input_group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" value="{{ valor_email if valor_email else '' }}" placeholder="Digite seu e-mail" required>
                </div>

                <div class="input_group">
                    <label for="senha">Senha:</label>
                    <div class="senha">
                        <input type="password" id="senha" name="senha" placeholder="Senha" required>
                        <button type="button" onclick="mostrarSenha('senha')">
                            👁
                        </button>
                    </div>
                </div>

                {% if erro %}
                <div class="erro_texto">
                    {{ erro }}
                </div>
                {% endif %}

                <p class="auth_links">
                    Ainda não tem uma conta?<a href="/cadastro">Criar Conta</a>
                </p>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
    
    <script>
        function mostrarSenha(id) {
            const senha = document.getElementById(id);

            if (senha.type === "password") {
                senha.type = "text";
            } else {
                senha.type = "password";
            }
        }
    </script>
</body>

</html>